<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="TwigStringyExtension Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log target="build/clover.xml" type="coverage-clover"/>
    </logging>
</phpunit>