<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="TwigStringyExtension Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log target="build/report.tap" type="tap"/>
        <log target="build/report.junit.xml" type="junit"/>
        <log charset="UTF-8" highlight="true" target="build/coverage" type="coverage-html" yui="true"/>
        <log target="build/coverage.txt" type="coverage-text"/>
        <log target="build/logs/clover.xml" type="coverage-clover"/>
    </logging>
</phpunit>